/*General Styling*/
body {
    background-color: rgb(195, 141, 245);
    margin: 0;
    font-family: "Covered By Your Grace", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px;

}
h1 {
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    background-color: black;
}
.question-container {
    background: url("../images/friends-photo-frame.jpg") no-repeat center;
    width: 540px;
    height: 540px;
    margin-left: 33%;

}
/* Styling for the frame question box */
.quest-box h3 {
    font-size: 25px;
    padding-top: 100px;
    font-weight: 200;
}
/* Styling for the Answer buttons */
.ans-btn {
    border: 2px solid black;
    background: rgb(195, 141, 245);
    font-weight: 300;
    width: 50%;
    border-radius: 25px;
    padding: 0;
}
.red-dot {
    color: red;
}
.gold-dot {
    color: gold;
}
.aqua-dot {
    color: aqua;
}