/*General Styling*/


body {
    background-color: rgb(195, 141, 245);
    margin: 0;
    font-family: "Covered By Your Grace", cursive, sans-serif;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;
    text-align: center;
    font-size: 35px;
    padding: 10px 20px;
}
/*Styles for Rules Page*/
#rules {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgb(195, 141, 245);
    display: none;
    top: 0;
    left: 0;
}

#rulesOk {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    flex-direction: row;
    justify-content: center;
    border: 2px solid yellow;
    margin-top: 20px;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: .8em;
}


/*Keep footer at the bottom*/
main {
    flex: 1 0 auto;
    margin-top: 2px;
}

/*Styling for the Main Heading*/
h1 {
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    background-color: black;
    width: 100%;
    font-size: 50px;
    margin-top: 0;
}

h2 {
    font-size: 1em;
}

p {
    font-size: 18px;
}

/*Styling for the mid dots in Friends Logo*/
.red-dot {
    color: red;
}

.gold-dot {
    color: gold;
}

.aqua-dot {
    color: aqua;
}

/* Styling for the Questions background Image*/
.question-container {
    background: url("../images/friends-frame.png") no-repeat center;
    background-size: contain;
    position: relative;

}

/* Styling for the frame question box */
.quest-box h3 {
    font-size: 25px;
    padding-top: 80px;
    font-weight: 200;
    margin-top: 10px;
}

.quest-box {
    margin-bottom: 50px;
}

/* Styling for the Answer buttons */
.answer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px 70px 80px 70px;

}

.ans-btn {
    border: 2px solid black;
    background: #ffff00ad;
    font-weight: 300;
    width: 80%;
    border-radius: 5px;
    padding: 0;
    transition: all 0.2s;
    margin: 2px;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: .5em;
}

.ans-btn :hover {
    background-color: rgb(195, 141, 245);
}

/* Next Button*/
.submit {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 28%;
    border: 2px solid yellow;
    margin-top: 20px;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: .5em;

}

footer {
    font-size: 15px;
    position: absolute;
    top: 110vh;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}


/*Media Queries*/

/*For phones 398px and up*/
@media screen and (min-width: 398px) {
    .ans-btn {
        width: 60%;
    }

    .submit {
        left: 30%;
    }
}

/*For larger phones and landscape mode (540px and up)*/

@media screen and (min-width: 540px) {
    .submit {
        left: 37%;
    }

    .ans-btn {
        width: 40%;
    }

}



/*For tablets and larger screens(768px and up)*/
@media screen and (min-width: 768px) {

    h1 {
        border: 2px solid;
        border-radius: 25px;
        color: white;
        background-color: black;
    }
    h3 {
        font-size: 35px;
    }
    p {
        font-size: 30px;
    }

    .question-container {
        background: url("../images/friends-frame.png") no-repeat center;
        width: 50%;
        margin: auto;
        background-size: contain;
        width: 455px;
        height: 568px;

    }

    .quest-box h3 {
        font-size: 25px;
        padding-top: 100px;
        font-weight: 200;
    }

    .ans-btn {

        width: 80%;
        font-size: .4em;

    }

    .answer-box {
        margin-top: 200px;
    }

    .submit {
        left: 40%;
    }

    .footer {
        top: 115vh;
    }

}

/* Styling for Large devices - desktops/laptops(912 and up)*/
@media screen and (min-width: 912px) {
    .submit {
        left: 42%;
    }
    footer {
        top: 150vh;
    }
}

/* Styling for very large screens (1200px and up) */
@media screen and (min-width:1200px) {
    .submit {
        left: 45%;
    }
}